.action-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: min(2svw, 2svh);
    column-gap: min(2svw, 2svh);
    padding: min(2svw, 2svh);
    flex-grow: 1;
}

.action-block {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: min(1svw, 1svh);
    padding: min(1svw, 1svh);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    margin: 0px;
    width: fit-content;
    min-width: 9svw;
    font-size: 1.6svw;
    text-align: center;
}

.action-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-icon {
    height: 9svw;
    aspect-ratio: 1;
}

.action-text {
    align-self: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.action-text>p {
    font-size: min(0.75svw, 1.5svh);
    margin: 0.3svh 0.5svh;
}

.action-notation {
    container-type: size;
    padding-bottom: 0.3svw;
    display: flex;
    flex-direction: row;
    margin: 0px 0.3svh;
    position: relative;
    min-height: fit-content;
}

.action-notation>p {
    font-size: min(0.75svw, 1.5svh);
    margin: 0px;
    padding: 0.3svh 0px;
    cursor: default;
    text-wrap: nowrap;
}

.action-notation>p>img {
    height: 1svw;
    margin-bottom: -0.3svw;
    align-self: center;
}

@media(orientation: portrait) {

    .action-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    h2 {
        width: auto;
        font-size: 3svw;
    }

    .action-block {
        position: relative;
    }

    .action-icon {
        position:absolute;
        opacity: 0.2;
        height: 25svw;
        max-height: 19svh;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .action-text>p {
        font-size: min(1.6svw, 1svh);
        margin: 0.2svh 0.5svh;
    }

    .action-notation>p {
        font-size: min(1.6svw, 1svh);
        height: min-content;
        margin: 0.2svh, 0px;
    }

    .action-uppercut {
        grid-row: 4;
    }

    .action-tracer {
        grid-row: 3;
    }
}

.input-panel {
    display: none;
    position: fixed;
    padding: 5svh 5svw;
    align-self: center;
    top: 50%;
    bottom: 50%;
    background-color: rgba(13, 12, 27, 0.98);
    border-radius: max(2svw, 2svh);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min(80svw, 80svh);
    height: min(40svw, 40svh);
}

.input-panel>img {
    height: min(6svw, 6svh);
    position: absolute;
    transform: translate(-50%, 0%);
    cursor: pointer;
    border-radius: 50%;
}

.custom-panel {
    max-height: 15svh
}

.custom-input {
    font-size: min(3svh, 3svw);
    margin: 2svh;
    width: 80%;
    padding: 0.5svh;
}

.custom-panel>button {
    background-color: rgba(255, 255, 255, 0.1);
    border-style: none;
    font-size: min(3svh, 3svw);
    padding: 1svh 1.5svw;
    border-radius: 1svh;
    transition: 0.1s;
}

.custom-panel>button:hover {
    color: rgb(228, 227, 200);
    background-color: rgba(228, 226, 200, 0.1);
    scale: 1.1;
}

.custom-panel>button:active {
    color: rgb(206, 205, 173);
    background-color: rgba(204, 201, 161, 0.1);
    scale: 1.05;
}